<section>
  <div class="login">
    <h2>Login</h2>
    <form class="login-form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          type="text"
          name="login-form-username"
          id="login-form-username"
          matInput
          [formControl]="username"
          required
        />
        <mat-error *ngIf="username.invalid">{{ getUsernameError() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          name="login-form-password"
          id="login-form-password"
          matInput
          [formControl]="password"
          required
        />
        <mat-error *ngIf="password.invalid">{{ getPasswordError() }}</mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="isLoading">
        {{ isLoading ? "Loading..." : "Login" }}
      </button>
    </form>
  </div>
</section>
