<form (ngSubmit)="sendMessage()">
  <h3>Send us a message</h3>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="your@email.com"
      [formControl]="email"
      required
    />
    @if (email.invalid) {
      <mat-error>{{ getEmailError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your message</mat-label>
    <input
      matInput
      placeholder="Your message"
      [formControl]="message"
      required
    />
    @if (message.invalid) {
      <mat-error>{{ getMessageError() }}</mat-error>
    }
  </mat-form-field>
  <button mat-stroked-button>Send</button>
</form>
