section {
  height: 100vh;
  width: 100vw;
}

button {
  border: none !important;
  border-bottom: 1px solid hsl(0, 0%, 100%) !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#hero {
  position: relative;
  background-image: url("/assets/images/pexels-erik-mclean-17519361.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 5%;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }
}

#land-cruiser-section {
  position: relative;
  display: flex;
  background-image: url("/assets/images/pexels-erik-mclean-17519359.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    & h3 {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      & span:nth-child(1) {
        font-size: 5rem;
      }

      & span:nth-child(2) {
        font-size: 3rem;
      }
    }

    & p {
      color: hsl(0, 0%, 100%);
    }
  }

  &-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.32rem;

    & p {
      color: hsl(0, 0%, 100%);
    }
  }
}

#services {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: hsl(0, 0%, 15%);

  & h3 {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    margin: 6rem;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }

  & div {
    display: flex;
    flex: 1;
    gap: 1rem;
    color: hsl(0, 0%, 100%);

    & article {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      width: 30%;
      text-align: center;

      & img {
        max-height: 7rem;
        max-width: 7rem;
        aspect-ratio: 1/1;
        fill: hsl(0, 0%, 100%);
      }

      & h4 {
        font-size: 1.5rem;
      }

      & p {
        text-align: start;
        font-weight: lighter;
      }
    }
  }
}

#safety {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/pexels-erik-mclean-17519379.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;

  & h3 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }

  & button {
    width: 25%;
  }
}

#exterior {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/pexels-erik-mclean-17519372.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;

  & h3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }
}

#performance {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/pexels-isaac-mitchell-13740080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;

  & h3 {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    color: white;
    font-size: 5rem;
    text-align: end;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }
}

#contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/pexels-denys-gromov-4781951.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;

  & > h3 {
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 100%);
    font-size: 5rem;

    & span:nth-child(2) {
      font-size: 7rem;
    }
  }

  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6rem;

    & > #contacts-left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: hsl(0, 0%, 100%);

      & > #contacts-left-phone,
      & > #contacts-left-address {
        display: flex;
        flex-direction: column;
      }

      & > #contacts-left-social-icons {
        display: flex;
        gap: 0.32rem;

        & img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.yellow {
  color: hsl(47, 91%, 59%);
}
