<section id="hero">
  <h3>
    <span @slideDown>The</span>
    <span @slideLeft class="yellow">conqueror</span>
    <span @slideUp>of the world</span>
  </h3>
</section>
<section id="land-cruiser-section">
  <div id="land-cruiser-section-left">
    <h3>
      <span class="yellow">Land Cruiser</span>
      <span>The pride of the world</span>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur non
      voluptas repudiandae ipsa cumque. Nisi ut vero ea blanditiis quaerat autem
      assumenda ex beatae praesentium inventore quod adipisci, quisquam vitae
      atque earum soluta sapiente commodi eius ullam. Eum quas non nostrum
      repudiandae maiores maxime ipsum officiis laudantium ea saepe, est
      voluptates quod voluptate voluptas sequi nemo pariatur earum rerum magnam!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim,
      doloremque.
    </p>
  </div>
  <div id="land-cruiser-section-right">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
      voluptate, quis maxime, praesentium saepe architecto numquam ea tempora
      aliquid veritatis ex atque dignissimos ad aliquam quae exercitationem sed
      culpa reiciendis.
    </p>
    <button mat-stroked-button>Read more</button>
  </div>
</section>
<section id="services">
  <h3>
    <span>Our </span>
    <span class="yellow">services</span>
  </h3>
  <div>
    <article id="services-quick">
      <img
        src="/assets/svg/fast-quick-stopwatch-svgrepo-com.svg"
        alt="stopwatch"
      />
      <h4>Quick</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In similique
        possimus deserunt animi fuga excepturi tempora voluptate nobis aliquam a
        quas dolor dolore neque aut totam, cum amet laborum recusandae nihil
        ducimus, error sequi. Dolore beatae libero eligendi nisi explicabo saepe
        earum aliquam, laborum cumque quam esse quod pariatur suscipit?
      </p>
    </article>
    <article id="services-qualified">
      <img
        src="/assets/svg/gear-man-specialist-svgrepo-com.svg"
        alt="specialist"
      />
      <h4>Qualified</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        perferendis corrupti quisquam consectetur error reprehenderit fuga aut
        minus consequatur sint, nesciunt, ad tenetur doloremque, necessitatibus
        harum! Voluptas blanditiis numquam quasi ratione modi ex necessitatibus
        sint laborum sed ipsum? Voluptatum ab magni maiores illum illo?
        Repellendus maxime voluptatem excepturi sapiente necessitatibus!
      </p>
    </article>
    <article id="services-quality">
      <img
        src="/assets/svg/quality-certificate-award-svgrepo-com.svg"
        alt="quality"
      />
      <h4>Quality</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga harum
        officiis consectetur accusantium ut, odio animi soluta praesentium
        aliquam saepe veritatis officia quaerat itaque architecto eaque esse?
        Atque quis libero cum iure maxime ducimus delectus vero! Modi nostrum
        saepe, obcaecati odit, vel laborum, ut necessitatibus repellat adipisci
        delectus atque quisquam.
      </p>
    </article>
    <article id="services-comfort">
      <img src="/assets/svg/pillow-svgrepo-com.svg" alt="comfort" />
      <h4>Comfort</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem eos
        quo, sequi enim consequatur maxime id iste autem dicta? Blanditiis
        repellat dolorem dicta inventore, nulla alias eveniet officia
        necessitatibus, dignissimos omnis labore. Maiores mollitia molestias
        facere optio autem voluptatum architecto, distinctio veritatis dolores
        minima ratione dignissimos, deserunt doloribus voluptate quisquam?
      </p>
    </article>
  </div>
</section>
<section id="safety">
  <h3>
    <span>Safety</span>
    <span class="yellow">10 SRS airbags</span>
  </h3>
  <button mat-stroked-button>Read more</button>
</section>
<section id="exterior">
  <h3>
    <span>Exterior</span>
    <span class="yellow">New grille and hood design</span>
  </h3>
  <button mat-stroked-button>Read more</button>
</section>
<section id="performance">
  <h3>
    <span>Performance</span>
    <span class="yellow">6-speed automatic gearbox</span>
  </h3>
</section>
<section id="contacts">
  <h3>
    <span>Contact us</span>
    <span class="yellow">Get in touch</span>
  </h3>
  <div>
    <div id="contacts-left">
      <h3>Phone number</h3>
      <p id="contacts-left-phone">
        <span>+1234567890</span>
        <span>+1234567890</span>
      </p>
      <h3>Address</h3>
      <p id="contacts-left-address">
        <span>123 Some street</span>
        <span>Some town, 0000</span>
      </p>
      <h3>Social media</h3>
      <p id="contacts-left-social-icons">
        <span>
          <a href="#contacts">
            <img src="/assets/svg/facebook-svgrepo-com.svg" alt="facebook" />
          </a>
        </span>
        <span>
          <a href="#contacts">
            <img src="/assets/svg/twitter-svgrepo-com.svg" alt="twitter" />
          </a>
        </span>
        <span>
          <a href="#contacts">
            <img src="/assets/svg/instagram-svgrepo-com.svg" alt="instagram" />
          </a>
        </span>
        <span>
          <a href="#contacts">
            <img src="/assets/svg/youtube-svgrepo-com.svg" alt="youtube" />
          </a>
        </span>
      </p>
    </div>
    <div id="contacts-right">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>
