<nav>
  <ul class="left">
    <li><a routerLink="/">Home</a></li>
  </ul>
  <ul class="right">
    <!-- Logged out navigation -->
    <ng-template [ngIf]="!isUserLoggedIn" [ngIfElse]="loggedInNavigation">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ng-template>
    <!-- Logged in navigation -->
    <ng-template #loggedInNavigation>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/logout">Logout</a></li>
    </ng-template>
  </ul>
</nav>
