@use '/src/styles/forms.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  gap: 1rem;
  margin-top: 1rem;
}

.container {
  width: 80%;
}
