@use "/src/styles/forms.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  gap: 1rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: hsl(0, 0%, 15%);
}
